@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Sans+Pros&display=swap');

:root{
    --button-color: #1b998b;
    --text-color: #2d3047;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}
body{
    max-width: 550px;
    width: 100%;
    margin: 2% auto;
    text-align: center;
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    padding: 3%;
}
header h2 {
    font-size: 3.25rem;
    padding: 3%;
    font-family: 'Dancing Script', arial;
    color: var(--text-color);
}
main {
    padding: 1% 0;
}
input {
    width: 100%;
    padding: 2%;
    background-color: #fff;
    color: var(--text-color);
    border: 2px solid #aaa;
    border-radius: 5px;
}
input::placeholder {
    color: var(--text-color);
}
.search,
.add-new {
    padding: 5% 0;
}
.todo {
    position: relative;
    text-align: left;
    background-color: var(--text-color);
    color: #fff;
    margin: 1% 0;
    padding: 3% 4%;
    border-radius: 5px;
}
input:focus {
    transition: 0.25s linear all;
    outline: none;
    border: 2px solid var(--text-color);
}
.text {
    width: 90%;
}
.far {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 3%;
}
.far:hover{
    cursor: pointer;
    color: red;
    transition: 0.25s linear all;
}
.button .add {
    cursor: pointer;
    margin: 3% 0;
    padding: 1.25%;
    background-color: var(--text-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.add:hover{
    background-color: #090f3d;
    transition: background 0.25s linear;
}
.filtered {
    display: none;
}
