@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;400;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima Madurai', sans-serif;
}
body {
    background-color: #ebebeb;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.title {
    font-size: 3rem;
    font-weight: 300;
}
main {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 2px rgba(173, 173, 173, 0.75);
    max-width: 80ch;
    min-width: 60ch;
    margin: 2% 1%;
}
.hidden{
    display: none;
}
.quote {
    font-size: 1.8rem;
    padding: 5% 1% 1% 1%;
    font-weight: 900;
}
.quote::before {
    content: '\201C';
}.quote::after {
    content: '\201D';
}
.author {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
}
.author::before{
    content: '\2010';
}
.button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2% 3%;
}
.button button {
    cursor: pointer;
    padding: 1% 2%;
    border: none;
    background-color: #333;
    color: #fff;
    outline: none;
    transition: all 0.35s linear;
}
.button button:hover{
    background-color: rgb(0, 0, 0);
}
.twitter:hover{
    color: #1DA1F2;
}

/*MEDIA QUERIES*/

@media (max-width: 820px) {
    main {
        width: 90%;
    }
}
@media (max-width: 620px) {
    main {
        min-width: 40ch;
        max-width: 70ch;
    }
    .title{
        font-size: 2.5rem;
    }
}
@media (max-width: 470px) {
    main {
        min-width: 30ch;
        max-width: 60ch;
    }
    .title{
        font-size: 2.25rem;
    }
}
@media (max-width: 320px) {
    main {
        min-width: 20ch;
        max-width: 50ch;
    }
    .title{
        font-size: 1.75rem;
    }
}
