* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================ HEADER ================= */

header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 10vh;
    background: #eee;
    z-index: 999;
}
.title {
    position: absolute;
    right: -10000px;
    overflow: hidden;
}
.logo{
    width: 50vw;
}
.logo img {
    cursor: pointer;
    display: flex;
    justify-content: center;
    max-width: 300px;
    width: 100%;
}
nav {
    width: 50vw;
}
header nav ul,
footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
header nav ul li, 
footer ul li {
    padding: 7px;
    margin: 0 3%;
}
header nav ul li a,
footer ul li a {
    font-size: 1.15rem;
    font-weight: 300;
    text-decoration: none;
    color: #444;
}
header nav ul li a:hover,
footer ul li a:hover {
    color: #ff8c00;
    transition: 0.35s ease;
}

/* ================ MAIN ================= */

main {
    position: relative;
    top: 10vh;
    margin: 0 auto;
    text-align: center;
}
.main-upper {
    padding: 4% 0;
}
.description {
    padding: 1.5% 0;
    font-size: 2rem;
}
.email {
    padding: 5px;
    max-width: 275px;
    width: 100%;
    font-size: 1.1rem;
    border: 2px solid #ff8c00;
    border-radius: 5px;
}
.get-started {
    display: block;
    margin: 1% auto;
    cursor: pointer;
    padding: 8px;
    background: #ff8c00;
    color: #000;
    border: none;
    font-weight: 900;
}
.get-started:hover,
.card button:hover {
    background: #ff8c00;
    color: white;
    transition: 0.35s ease;
}
.features {
    padding: 2% 0;
    width: 70%;
    margin: auto;
}
.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% 2%;
    padding: 2% 0;
    text-align: left;
}
.fas {
    color: #ff8c00;
    font-size: 3rem;
    width: 20vw;
    text-align: center;
}
.feature-desc {
    width: 70vw;
}
.feature-title {
    padding: 1% 0;
    font-size: 1.65rem;
}
#how-it-works{
    width: 100%;
    max-width: 560px;
    max-height: auto;
    margin: 2% auto 10% auto;
}
.youtube {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.cards {
    padding-bottom: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    border: 1px solid #333;
    width: 25%;
}
.card:hover {
    border: 1px solid #ff8c00;
    transition: 0.35s ease
}
.card-title {
    background: #ccc;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}
.price {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 7% 0;
}
.card ul {
    list-style-type: none;
    margin: 1% 0 8% 0;
}
.card ul li {
    font-size: 0.9rem;
    padding: 5px 0;
    font-weight: 400;
}
.card button {
    margin-bottom: 5%;
    cursor: pointer;
    padding: 8px;
    background: #ff8c00;
    color: #000;
    border: none;
    font-weight: 300;
}

/* ================ FOOTER ================= */

footer {
    background: #ccc;
    position: relative;
    top: 50px;
    padding: 5px;
    width: 100%;
}
.copyright {
    text-align: right;
    padding: 5px 0;
    font-size: 0.75rem;
    color: #333;
}

/* ================ MEDIA QUERIES ================= */

@media screen and (max-width: 820px) {
    .fas {
        text-align: left;
    }
}

@media screen and (max-width: 690px) {
    header {
        padding: 1%;
        flex-direction: column;
        width: 100%;
        height: 12vh;
        justify-content: center;
        align-items: center;
    }
    .logo,
    nav {
        width: 100vw;
    }
    .logo img {
        cursor: pointer;
        display: flex;
        margin: auto;
    }
    .email {
        margin-top: 10px;
    }
    .fas {
        text-align: left;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        width: 50%;
        margin: 7.5px;
    }
}

@media screen and (max-width: 520px) {
    .main-upper {
        padding-top: 7%;
    }
    .feature {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 20px;
    }
    .fas {
        padding-bottom: 15px;
        text-align: center;
    }
    .card {
        width: 60%;
    }
}

@media screen and (max-width: 380px) {
    header {
        height: 25vh;
    }
    header nav ul {
        flex-direction: column;
        text-align: center;
    }
    main {
        top: 25vh;
    }
    footer {
        top: 175px;
    }
}